.chips-button{
    border-radius: 6.25rem;
    padding: 0.5rem 0.8rem;
border:  none !important;
background: var(--Colours-Primary-colour-Blue-700);
   color:var(--Colours-Neutral-colours-White-10) ;
    font-family: "Medium-Regular";
    font-size: 0.8rem;
}