#help{
    box-shadow: var(--box-shadow-color);
    padding: 1.5rem;
    h4{
        font-family: "SemiBold" !important;
    }
    .help-box{
        border-bottom: 1px solid #C7CDDE;
        // P{
        //     font-size: 1rem !important;
        //     font-family: "Medium";
        // }
    }
.ticket-link{
margin-bottom:0 !important;
}
}